<div ng-include="'/app/Templates/templateDoctor.html'"></div>
<div id="page-wrapper" ng-show="foundRD">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Datos de control de {{principal.name}} para EscalaNHISS</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                	<label>Filtrar por:  </label>
					<input type="text" ng-model="busqueda">
					<br><br>
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
<th>Date</th>
<th>SynthomsBegin</th>
<th>NivelDeConciencia</th>
<th>OrdenesMotoras</th>
<th>MiradaConjugada</th>
<th>CamposVisuales</th>
<th>ParesiaFacial</th>
<th>ParesiaDeBrazoIzquierdo</th>
<th>ParesiaDeBrazoDerecho</th>
<th>ParesiaDePiernaIzquierda</th>
<th>ParesiaDePiernaDerecha</th>
<th>AtaxiaDeLasExtremidades</th>
<th>Sensibilidad</th>
<th>Lenguaje</th>
<th>Disartria</th>
<th>ExtincionNegligenciaInatencion</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="d in diagnosticsNew | filter:busqueda" >
<td>{{d.date | date:"dd/MMMM/yyyy"}}</td>
<td>{{d.synthomsBegin | date:"dd/MMMM/yyyy"}}</td>
<td>{{d.nivelDeConciencia}}</td>
<td>{{d.ordenesMotoras}}</td>
<td>{{d.miradaConjugada}}</td>
<td>{{d.camposVisuales}}</td>
<td>{{d.paresiaFacial}}</td>
<td>{{d.paresiaDeBrazoIzquierdo}}</td>
<td>{{d.paresiaDeBrazoDerecho}}</td>
<td>{{d.paresiaDePiernaIzquierda}}</td>
<td>{{d.paresiaDePiernaDerecha}}</td>
<td>{{d.ataxiaDeLasExtremidades}}</td>
<td>{{d.sensibilidad}}</td>
<td>{{d.lenguaje}}</td>
<td>{{d.disartria}}</td>
<td>{{d.extincionNegligenciaInatencion}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
