<div ng-include="'/app/Templates/templatePatient.html'"></div>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Bienvenido {{patientH.name}}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{cantHFeedbacks}}</div>
                            <div>{{recomendacionesHFeedbacks}}</div>
                        </div>
                    </div>
                </div>
                <a  ng-click="continueCSFeedbacks()">
                    <div class="panel-footer">
                        <span class="pull-left">Detalles</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{cantHAdvices}}</div>
                            <div>{{recomendacionesHAdvices}}</div>
                        </div>
                    </div>
                </div>
                <a  ng-click="continueCSAdvices()">
                    <div class="panel-footer">
                        <span class="pull-left">Detalles</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
	<div class="row">
		<br>
		<h2>Registros de HeartHealth</h2>
		<br>
	    	<div class="col-lg-4">
	    	<div class="panel panel-default">
	    	<div class="panel-heading">
	                    SystolicPressure
	    	</div>
	    	<div class="panel-body">
	    	<canvas  id="systolicPressureHeartHealth" class="chart chart-bar"
	    	chart-data="systolicPressureHeartHealth" chart-labels="labelsHeartHealth" chart-series="seriesHeartHealth">
	    	</canvas>
	    	</div>
	    	<!-- /.panel-body -->
	    	</div>
	    	<!-- /.panel -->
	    	</div>
	    	<!-- /.col-lg-4 -->
	    	<div class="col-lg-4">
	    	<div class="panel panel-default">
	    	<div class="panel-heading">
	                    DiastolicPressure
	    	</div>
	    	<div class="panel-body">
	    	<canvas  id="diastolicPressureHeartHealth" class="chart chart-bar"
	    	chart-data="diastolicPressureHeartHealth" chart-labels="labelsHeartHealth" chart-series="seriesHeartHealth">
	    	</canvas>
	    	</div>
	    	<!-- /.panel-body -->
	    	</div>
	    	<!-- /.panel -->
	    	</div>
	    	<!-- /.col-lg-4 -->
	    	<div class="col-lg-4">
	    	<div class="panel panel-default">
	    	<div class="panel-heading">
	                    BloodCholesterol
	    	</div>
	    	<div class="panel-body">
	    	<canvas  id="bloodCholesterolHeartHealth" class="chart chart-bar"
	    	chart-data="bloodCholesterolHeartHealth" chart-labels="labelsHeartHealth" chart-series="seriesHeartHealth">
	    	</canvas>
	    	</div>
	    	<!-- /.panel-body -->
	    	</div>
	    	<!-- /.panel -->
	    	</div>
	    	<!-- /.col-lg-4 -->
	    	<div class="col-lg-4">
	    	<div class="panel panel-default">
	    	<div class="panel-heading">
	                    HeartRate
	    	</div>
	    	<div class="panel-body">
	    	<canvas  id="heartRateHeartHealth" class="chart chart-bar"
	    	chart-data="heartRateHeartHealth" chart-labels="labelsHeartHealth" chart-series="seriesHeartHealth">
	    	</canvas>
	    	</div>
	    	<!-- /.panel-body -->
	    	</div>
	    	<!-- /.panel -->
	    	</div>
	    	<!-- /.col-lg-4 -->
	</div>
	<div class="row">
		<br>
		<h2>Registros de ArmAngles</h2>
		<br>
	    	<div class="col-lg-4">
	    	<div class="panel panel-default">
	    	<div class="panel-heading">
	                    UpperAngle
	    	</div>
	    	<div class="panel-body">
	    	<canvas  id="upperAngleArmAngles" class="chart chart-bar"
	    	chart-data="upperAngleArmAngles" chart-labels="labelsArmAngles" chart-series="seriesArmAngles">
	    	</canvas>
	    	</div>
	    	<!-- /.panel-body -->
	    	</div>
	    	<!-- /.panel -->
	    	</div>
	    	<!-- /.col-lg-4 -->
	    	<div class="col-lg-4">
	    	<div class="panel panel-default">
	    	<div class="panel-heading">
	                    LowerAngle
	    	</div>
	    	<div class="panel-body">
	    	<canvas  id="lowerAngleArmAngles" class="chart chart-bar"
	    	chart-data="lowerAngleArmAngles" chart-labels="labelsArmAngles" chart-series="seriesArmAngles">
	    	</canvas>
	    	</div>
	    	<!-- /.panel-body -->
	    	</div>
	    	<!-- /.panel -->
	    	</div>
	    	<!-- /.col-lg-4 -->
	</div>
	<div class="row">
		<br>
		<h2>Registros de LegAngles</h2>
		<br>
	    	<div class="col-lg-4">
	    	<div class="panel panel-default">
	    	<div class="panel-heading">
	                    UpperAngle
	    	</div>
	    	<div class="panel-body">
	    	<canvas  id="upperAngleLegAngles" class="chart chart-bar"
	    	chart-data="upperAngleLegAngles" chart-labels="labelsLegAngles" chart-series="seriesLegAngles">
	    	</canvas>
	    	</div>
	    	<!-- /.panel-body -->
	    	</div>
	    	<!-- /.panel -->
	    	</div>
	    	<!-- /.col-lg-4 -->
	    	<div class="col-lg-4">
	    	<div class="panel panel-default">
	    	<div class="panel-heading">
	                    LowerAngle
	    	</div>
	    	<div class="panel-body">
	    	<canvas  id="lowerAngleLegAngles" class="chart chart-bar"
	    	chart-data="lowerAngleLegAngles" chart-labels="labelsLegAngles" chart-series="seriesLegAngles">
	    	</canvas>
	    	</div>
	    	<!-- /.panel-body -->
	    	</div>
	    	<!-- /.panel -->
	    	</div>
	    	<!-- /.col-lg-4 -->
	</div>
	<div class="row">
		<br>
		<h2>Registros de PhysicalActivities</h2>
		<br>
	    	<div class="col-lg-4">
	    	<div class="panel panel-default">
	    	<div class="panel-heading">
	                    SeriesNumber
	    	</div>
	    	<div class="panel-body">
	    	<canvas  id="seriesNumberPhysicalActivities" class="chart chart-bar"
	    	chart-data="seriesNumberPhysicalActivities" chart-labels="labelsPhysicalActivities" chart-series="seriesPhysicalActivities">
	    	</canvas>
	    	</div>
	    	<!-- /.panel-body -->
	    	</div>
	    	<!-- /.panel -->
	    	</div>
	    	<!-- /.col-lg-4 -->
	</div>
	<div class="row">
		<br>
		<h2>Registros de EscalaNHISS</h2>
		<br>
	</div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->


